@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    font-family: 'Press Start 2P', system-ui;
    scroll-behavior: smooth;
}
.section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;
}
#main{
    background: url("pxfuel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about{
    background: url("puls.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#skills{
    background: url("cod.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#works{
    background: url("6012933.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#comments{
    background: url("rm218batch4-aum-08.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-block, .about-block, .skills-block, .works-block, .comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.main-block{
    flex-direction: column;
    height: 100vh;
}
.main-content{
    background: url("futuristic.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1000px;
    height: 523px;
    margin-left: 295px;
    margin-top: 157px;
}
.main-title{
    padding-top: 70px;
    color: rgb(0, 229, 255);
    font-size: 45px;
    margin-left: 90px;
}
.main-subtitle{
    color: rgb(0, 229, 255);
    font-size: 16px;
    font-family: 'Press Start 2P', system-ui;
    margin-left: 120px;
    margin-top: 170px;
}
.button{
    width: 185px;
    height: 60px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: rgb(0, 229, 255);
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 black;
    margin-bottom: 50px;
    transition-duration: 0.3s;
}
button:hover{
    background: rgb(0, 0, 0); 
}
.button a {
    color: black;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    line-height: 40px; 
    text-align: center; 
    padding: 10px;
    margin-left: 8px;
}
.main-img{
    width: 80px;
    margin-left: 312px;
    margin-top: 50px;
}
.monster-img{
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: 270px;
    left: 90px;
    animation-name: moving-monster;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}
@keyframes moving-monster{
    from{transform: translateY(0px);}
    to{transform: translateY(100px);}
}
.ship-img{
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: 270px;
    right: 90px;
    animation-name: moving-ship;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes moving-ship{
    from{transform: translateY(0px);}
    to{transform: translateY(100px);}
}
.title{
    padding-top: 100px;
    text-align: center;
    color: rgb(0, 229, 255);
    font-size: 80px;
    text-shadow: 5px 5px 0 black;
}
.about-block{
    flex-direction: column;
    height: 100vh;
}
.about-content{
    width: 40%;
    height: 270px;
    background: rgba(0, 229, 255, 0.704); 
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
    display: flex;
}
.about-title{
    color: black;
    font-size: 20px;
    font-weight: 700;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P';
}
.about-card{
    background-image: url('interface.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 999px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    position: relative;
    right: -330px;
    top: -97px;
}
.about-p{
    color: rgb(0, 229, 255);
    font-size: 9px;
    align-self: start;
    padding-left: 95px;
    line-height: 25px;
    font-family: 'Press Start 2P';
}
.about-card img{
    position: absolute;
    height: 150px;
    padding-bottom: 250px;
}
.about-button{
    width: 205px;
    height: 60px;
    margin-left: 330px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: rgb(0, 229, 255);
    justify-content: center;
    position: absolute;
    align-items: center;
    box-shadow: 5px 5px 0 black;
    margin-top: -170px;
    transition-duration: 0.3s;
}
.about-button a{
    color: black;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    line-height: 40px; 
    text-align: center; 
    padding: 10px;
    margin-left: 8px;
}
.skills-block{
    flex-direction: column;
    height: 100vh;
}
.skills-card{
    background: rgba(0, 229, 255, 0.704);
    background-repeat: no-repeat;
    background-size: contain;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 20px;
    padding-left: 10px;
}
.skills-card p{
    color: black;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: 'Press Start 2P';
}
.skills-button{
    width: 290px;
    height: 60px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: rgb(0, 229, 255);
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 black;
    margin-top: 10px;
    transition-duration: 0.3s;
}
.skills-button a {
    color: black;
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    line-height: 40px; 
    text-align: center; 
    padding: 10px;
    margin-left: 8px;
}
.skills-img{
    width: 90px;
    margin-left: 10px;
    margin-top: 20px;
}
.works-block{ 
    height: 100vh;
}
.works-block img{
    margin: 0 20px;
    width: 30%;
    box-shadow: 7px 7px 0 black;
}
.comments-block{
    justify-content: space-evenly;
    max-width: 1150px;
    height: 100vh;
    margin: auto;
}
.comment-card{
    background: url("interface.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    position: relative;
}
.comment-card h3{
    color: rgb(0, 229, 255);
    font-size: 18px;
    font-family: 'Press Start 2P';
    margin-top: 100px;
    padding: 20px;
}
.comment-card p{
    color: rgb(0, 229, 255);
    font-size: 12px;
    font-family: 'Press Start 2P';
    padding: 10px 20px;
    text-align: center;
}
.comment{
    height: 350px;
    width: 161px;
    margin-right: 150px;
    text-align: center;
}
.comment p{
    font-family: 'Press Start 2P';
    font-size: 20px;
    width: 250px;
    border-radius: 10px;
    background: rgba(0, 229, 255, 0.704);
    backdrop-filter: blur(3px);
}
.comment-card img{
    position: absolute;
    height: 120px;
    padding-bottom: 110px;
}
footer{
    background-color: black;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 229, 255);
 }
 
 .footer-info p{
    font-family: 'Press Start 2P';
    padding-bottom: 10px;
 }
 
 .footer-year p{
    font-family: 'Press Start 2P';
    letter-spacing: 1.5px;
 }
 
 .footer-links a{
    margin-right: 15px;
 }
 #instagram{
    position: relative;
    top: 5px;
 }
 .nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
 }
 .fixed-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1; 
 }
 .nav-links{
    display: flex;
    justify-self: center;
    flex-grow: 1;
    padding-right: 150px; 
 }
 .nav-link{
    width: 112px;
    height: 140px;
    border-radius: 12px;
    border: 2px solid black;
    background-color: #FFF;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Press Start 2P';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
 }
 .logo{
    color: rgb(0, 229, 255);
    font-size: 80px;
    padding-left: 50px; 
 }
 .active{
    background-color: rgb(0, 229, 255);
 }

